<div
  class="flex gap-4 mb-8 flex-wrap flex-col-reverse justify-end lg:flex-nowrap lg:flex-row-reverse lg:items-end"
>
  <div class="lg:basis-72">
    <h1>Hi,</h1>
    <h2>My name is Lukasz.</h2>
    <h3 class="mb-0!">I'm a frontend developer.</h3>
  </div>

  <div class="basis-1/2">
    <img
      ngSrc="https://avatars.githubusercontent.com/u/48072779?v=4"
      alt="elobuho"
      priority
      width="460"
      height="460"
    />
  </div>
</div>

<p class="text-lg text-justify">
  With over 15 years of experience in frontend development including 7+ years in
  the Angular ecosystem, I specialize in delivering robust frontend solutions. I
  stay up to date with the latest Angular features like Signals, Standalone
  Components, Signal Store, Deferrable Views, SSR/SSG, the new Control Flow
  syntax, etc. However, I'm not a fan of the Resource API so far and prefer to
  stick with the good old RxJS.
</p>

<p class="text-lg text-justify">
  I still find great pleasure in writing clean, efficient code. This site serves
  as a demo of cool solutions I have explored to keep developing my skills. Just
  good components and some coding fun. Enjoy!
</p>

<img
  src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQwIiBoZWlnaHQ9IjMwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjx0ZXh0IHg9IjUwJSIgeT0iNTAlIiBkb21pbmFudC1iYXNlbGluZT0ibWlkZGxlIiB0ZXh0LWFuY2hvcj0ibWlkZGxlIiBmb250LWZhbWlseT0ibW9ub3NwYWNlIiBmb250LXNpemU9IjE4IiBmaWxsPSIjMzMzIj5sdWthc3pAb2J1Y2hvd2ljei5jb208L3RleHQ+PC9zdmc+"
  alt="Contact Email"
  class="ml-auto"
/>

<div class="text-center my-8">
  <a routerLink="demos" class="button">See demos</a>
</div>
