<div class="mb-8">
  <a routerLink="">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-5 inline-block align-sub"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5"
      />
    </svg>
    Go back to Homepage
  </a>
</div>

<p class="text-lg mb-8!">
  A list of demos I would like to showcase. I plan to add more items in the
  future. The source code can be found in the
  <span class="code">src/app/shared</span> directory.
</p>

<a routerLink="carousel" class="button">
  <svg
    class="w-24 h-24"
    viewBox="0 0 64 64"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <!-- Active Item -->
    <rect
      x="18"
      y="14"
      width="28"
      height="36"
      rx="2"
      stroke="currentColor"
      stroke-width="2"
    />

    <!-- Left Item Hint -->
    <path
      d="M12 20H8C6.89543 20 6 20.8954 6 22V42C6 43.1046 6.89543 44 8 44H12"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
    />

    <!-- Right Item Hint -->
    <path
      d="M52 20H56C57.1046 20 58 20.8954 58 22V42C58 43.1046 57.1046 44 56 44H52"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
    />

    <!-- Arrows -->
    <path
      d="M14 32L10 32"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
    />
    <path
      d="M11 29L8 32L11 35"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />

    <path
      d="M50 32L54 32"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
    />
    <path
      d="M53 29L56 32L53 35"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />

    <!-- Dots -->
    <circle cx="26" cy="56" r="2" fill="currentColor" fill-opacity="0.4" />
    <circle cx="32" cy="56" r="2" fill="currentColor" />
    <circle cx="38" cy="56" r="2" fill="currentColor" fill-opacity="0.4" />
  </svg>

  <span>Carousel</span>
</a>
